
<body>
    <section class="about">
        <div class="floating-decoration deco-1"></div>
        <div class="floating-decoration deco-2"></div>
        <div class="floating-decoration deco-3"></div>

        <h2>À propos de moi</h2>
<p>
Développeuse Full Stack passionnée par la conception de solutions digitales modernes et performantes. Curieuse, rigoureuse et orientée vers la résolution de problèmes, je conçois des applications web, mobile et des plateformes e-commerce répondant aux besoins réels des entreprises. J'aime transformer une idée en une solution concrète, intuitive et évolutive, tout en continuant à développer mes compétences dans les technologies web modernes.
</p>
  <h2>Compétences</h2>
        <h3>Langages</h3>
        <ul>
            <li>HTML / CSS</li>
            <li>JavaScript / TypeScript</li>
            <li>PHP / Java</li>
            <li>Python</li>
            <li>C#</li>
            <li>SQL</li>
            
        </ul>
         <h3>Frameworks & technologies</h3>
        <ul>
            <li>Angular</li>
            <li>Laravel</li>
            <li>Django</li>
            <li>Flutter</li>
            <li>Jakarta EE (Java EE)</li>            
        </ul>
        <h3>Bases de données</h3>
        <ul>
            <li>PostgreSQL</li>
            <li>MySQL</li>
            <li>Oracle</li>          
        </ul>
        <h3>Outils</h3>
        <ul>
            <li>Git / GitHub</li>
            <li>Railway</li>
            <li>Vercel</li> 
            <li>Docker</li> 
            <li>Figma</li>   
            <li>Postman</li>        
        </ul>
    </section>
</body>
