<!-- accueil.component.html -->
<section class="home">
    <div class="decorative-elements">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
    </div>

    <div class="intro">
        <h1>👋 Bonjour, je suis <span>Codou Sarr</span></h1>
        <h3>Développeuse Full Stack</h3>
        <p>Je conçois des applications web modernes et performantes avec Angular, Laravel, ASP.NET et Java JEE.</p>
        <button routerLink="/projects">Voir mes projets</button>
        <button routerLink="/projects">Télécharger mon CV</button>
    </div>

    <div class="profile-img-container">
        <img [src]="profileImg" alt="Codou Sarr" class="profile-img">
    </div>
</section>